<div class="navbar">
    <div class="nav-container">
        <div class="logo">
            <h1 class="title-shop">Warkop <span>Halat</span></h1>
        </div>
        <ul class="nav">
            <li><a href="#">Add +</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>