<div class="sidebar">
    <a href="#" class="logo"><i class='bx  bx-cigarette'></i> </a>
    <div class="sidebar-menu">
        <ul>
            <li><a href="#"><i class='bxr bx-dashboard-alt'></i> Dashboard</a></li>
            <li><a href="#"><i class='bx bx-database'></i> Data Penjualan</a></li>
            <li><a href="#"><i class='bxr bx-plus'></i> Tambah Penjualan</a></li>
            <li><a href="#"><i class='bx bx-shopping-bag-alt'></i> Produk</a></li>
        </ul>
    </div>
</div>