
:root{
    --primary-color: #EEEEEE;
    --secondary-color:#FFFFFF;
    --main-text-color:#000000;
    --logo-color:#A85C44;
}

@font-face {
    font-family:logo;
    src: url("../fonts/RockSalt-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ol,ul{
    list-style: none;
}

a {
    color: black;
    text-decoration: dotted;
}


/* navbar */
.navbar{
    background-color: var(--primary-color);
    height: 85px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 240px;
}

.nav a{
    color:black;
}

.logo{
    display: flex;
    color: var(--logo-color);
    gap: 1rem;
    font-family: logo;
}

.title-shop{
    font-size: 25px;
}   

.logo .title-shop span{
    display: block;
    text-align: center;
}

.nav{
    gap:2rem
}

.nav li a {
    text-decoration: none;
}
